html, body {
    width:100%;
    height:100%;
    margin:0;
    font-family: "RO Sans",Calibri,sans-serif;
    font-size: 16px; 
}
.logo { margin-left: 45%;}

#nav{
   background-color:  #01689b;
   min-height: 70px;
   border-top: 1px solid #fff;
   text-align:right;
   line-height:25px;
   width:100%;
   position: absolute;
}
.home{
    float: left;
    margin: 20px 0 0 10px;
   
}
.main-nav-content{
    margin: 20px 30px 0 0;
    padding: 0px;
}
#nav a {
text-decoration: none;
color:white;
padding: 0 30px 0 0;
}
#main-nav a:hover {
    text-decoration: underline;
}
label {
    margin: 0 20px 0 0;
    font-size: 40px;
   line-height: 70px;
   display: none;
}
#toggle {
    display: none;
}
#me {
    position: absolute;
   left: 62%;
   top: 40%;
   width:30%;
   z-index: 1;  
}
#search-form { position: relative;}

.search-input {
    float: left;
    width:85%;
    padding:13px;
    font-size: 17px;
    outline: none;
    border:none;
}
.search-button1 {
    position: absolute;
    width:50px;
    height: 47px;
    text-align: center;
    background-image: url(https://s18.postimg.cc/yvgizrqx5/Google-_Web-_Search-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
}
#main { width:100%; float:left }
#people img {
    position: absolute;
    top:200px;
    height:370px;
    float:left;
    width:100%;  
}

.top-nav {
    height: 30%;
    float: left;
    margin-top: 70px;
}
.top-nav a {
    position: relative;
    display: block;
    padding-left:20px;
    font-weight: bold;
    color: #01689b;
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-decoration: none;
    padding:5px;
    word-wrap: break-word;
    background-color: white;
    width:60%;
    height:45px;
    z-index: 1;
    

}
.top-nav li { list-style: none; padding-left: 10px; }

.top-nav a::before{
    content: ">";
    color: #01689b;
    padding-right: 2%;
}

#blocks{
    position: relative;
    top: 200px;
    background-color: #f3f3f3;
    width:100%;
    display: flex;
    flex-wrap: wrap;  
}

.block-item {width: 21%; padding: 2%;}

.block-item a { text-decoration: none; margin: 0 5% 0 5%;}

.block-content { text-align: left;}

.block-content h2 { color:#01689b; font-size: 25px;}

.block-content p{ color:black; font-size: 20px;}
 
#blocksmid { 
    position: relative;
    top:200px;
    width:100%;
    float: left;
}
.blocksmid-item {
    padding:2%;
    float: left;
    overflow: hidden;
    width: 28%;
    
}
.blocksmid-item a{
    text-decoration: none;
}

.blocksmid-item h3 {
    font-size: 20px;
    color:#01689b; 
}
.blocksmid-item p{
    font-size:15px;
    color:black;
    width:50%;
}
 #footer {
    background-color: #01689b;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 300px;
    margin-left: -10px;
    margin-right: -15px;
    margin-bottom: 10px;
    padding-left: 2px;
    position: relative;
    top: 300px;
}
 #footer::after {
    clear: both;
}
 #footer span {
    float: left;
    display: block;
    width: 50%;
    padding: 50px 0 0 40px;
    color: white;
    font-size: 1.5em;
    font-family: "RO Serif";
    font-style: italic;
    font-weight: normal;
}
.service {
    float :left;
    width: 25%;
    list-style-type: none;
    color: white;
    font-family: "RO Sans",Calibri,sans-serif;
}
#footer h3 {
    font-size: 25px;
}
.service li {
    font-size: 20px;
    line-height: 1.5em;
} 
.service li a {
    color: white;
    text-decoration: none;
    
}
.oversite {
    list-style-type: none;
    color:white;
    font-family: "RO Sans",Calibri,sans-serif;
}
.oversite li {
    font-size: 20px;
    line-height: 1.5em;
} 
.oversite li a {
    color: white;
    text-decoration: none;
}

#language {
    position: relative;
    top: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 90%;
}
.dutch {
    font-size: 18px;
    margin: 2px;
    padding: 5px;
    font-weight: bold;
}
.anotherlang1 {
    font-size: 18px;
    border:1px solid lightblue;
    margin: 2px;
    color: #01689b;
    
    

}
.anotherlang1 a {
    color: #01689b;
    text-decoration: none;
    
    padding: 3px;
    margin-top: 2px;
}
.anotherlang1 a:focus {
    outline: 2px solid #82befb;
    outline-offset: 0;
}



@media(max-width:1100px){

    #blocks { top:175px;; }
    .block-item{ width:46%;  padding:2%; }

    .blocksmid-item { width: 40%; }
    #blocksmid { left:5%; }

    #footer span { width:25%;}

    .oversite {  width:25%;}

    .service { width:25%;  }
  
}

@media (max-width: 700px) {
    #nav {
        height:125px;
        z-index: 1;
    }
    label { 
        display: block;
        cursor: pointer;
    }
    .main-nav-content {
        text-align: left;
        width:100%;
        display: none;

    }
    .main-nav-content a {
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        height: 50px;
        cursor: pointer;
        text-decoration: none;
        line-height: 43px;
        font-size: 20px;
        margin:0 15px 0 15px;
    }
    #main-nav a:hover {
        text-decoration: none;
    }
   #main-nav {
    background-color:  #01689b;
   }
   #toggle:checked + .main-nav-content  {
       display: block;
       background-color:  #01689b;
   }
   .top-nav { width:95%; }

   #me {
    position: absolute;
    left:2%;
    width:95%;
    top: 32%;
 }
 .search-button1  {  width:50px;}

 #me::after{
    content: '';
    display: block;
    clear: left;
}
#people img{ height: 500px;}

.top-nav a {
    width:100%;
    right: 3%;
    line-height: 15px;

}
.top-nav ul{
    margin-top:80px; 
    position: relative;
    width:90%;
    margin-right: 20px;
    
}
#blocks { top:250px;}

.block-item { width:100%; padding:2%;}

.blocksmid-item:nth-child(3) { width:90%;}

.blocksmid-item:nth-child(1) { width:90%;}

.blocksmid-item:nth-child(2) { width:90%;}

#blocksmid { left:15%; right: 15%;}
#footer span { width:70%;}
.oversite { width:40%;}
.service { width:40%;}
}

@media (max-width: 400px) {
    
    #me { width:85%; }

    .top-nav a { width:100%;  right: 5%;}

    .top-nav ul{
        padding-right: 20px;
        width:80%;
        overflow: auto;
    }
    #people img{ height: 450px; }
      
}




